.trip-variant {
  margin-top: 0;
  padding-top: 3.75rem;
}

.card__content {
  margin-left: 0;
  margin-right: 0;
}

.card--page .card__content {
  display: none;
}

.card__meta {
  font-size: 1rem;
}

.full-width {
  grid-column: span 12;
}

.l-grid {
  row-gap: 1rem;
}

.no-spacing {
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

a {
  transition: none;
}

a:hover .card__description, a:focus .card__description {
  color: var(--color-text);
}

.display-contents {
  display: contents;
}

.card__cover img {
  height: 300px;
}

.card--featured {
  display: block;
  overflow: auto;

  @media only screen and (min-width: 54rem) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card__cover img {
    height: 200px;
  }

  .card__content {
    justify-self: stretch !important;
    text-align: center;

    @media only screen and (max-width: 54rem) {
      margin: 0;
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}

.underline {
  background-position: 0 95%, 100% 95%, 0 95%;
  background-image: linear-gradient(transparent, transparent), linear-gradient(currentColor, currentColor), linear-gradient(var(--color-text-link), var(--color-text-link));
  background-repeat: no-repeat;
  background-size: 0 1px, 100% 1px, 0 1px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 900px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.custom-variants {
  display: flex;
  flex-direction: column;
}