{{- define "main" }}
    <p class="full-width text-align-center no-spacing">
        Vitajte na stránke pobytov EXOD. Pobyty EXOD organizuje Odborový zväz pracovníkov školstva a vedy na Slovensku.
    </p>
    <h2 class="full-width text-align-center">Naše pobyty</h2>
    <article class="card">
        <a href="kosice" class="display-contents">
            <figure class="card__cover">
                <img src="images/homepage_kosice.jpg" alt="obrazok kosic" height="500px">
            </figure>
            <div class="card__content">
                <div class="card__header">
                    <h3 class="card__title">Košice</h3>
                    <div class="card__meta">
                        <span class="card__authors">
                            Cena: Upresníme v januári
                        </span>
                        <time datetime="" class="card__date">Dátum: 4. - 9. august 2025</time>
                    </div>
                </div>
                <div class="card__description">
                    <ul class="no-spacing">
                        <li>Trvanie 6 dní (5 nocí)</li>
                        <li>Presuny súkromným autobusom</li>
                        <li>Rôzny variant pobytu v párny a nepárny rok</li>
                        <li>Navštívime hrady, zámky, múzeá, katedrály, atď.</li>
                    </ul>
                </div>
            </div>
        </a>
    </article>
    <article class="card">
        <a href="presov" class="display-contents">
            <figure class="card__cover">
                <img src="images/homepage_presov.jpg" alt="obrazok presova" height="500px">
            </figure>
            <div class="card__content">
                <div class="card__header">
                    <h3 class="card__title">Prešov</h3>
                    <div class="card__meta">
                        <span class="card__authors">
                            Cena: Upresníme v januári
                        </span>
                        <time datetime="" class="card__date">Dátum: 21. - 26. júl 2025</time>
                    </div>
                </div>
                <div class="card__description">
                    <ul class="no-spacing">
                        <li>Trvanie 6 dní (5 nocí)</li>
                        <li>Presuny súkromným autobusom</li>
                        <li>Rôzny variant pobytu v párny a nepárny rok</li>
                        <li>Navštívime hrady, zámky, múzeá, katedrály, atď.</li>
                    </ul>
                </div>
            </div>
        </a>
    </article>
    <h2 class="full-width text-align-center">Odporúčame</h2>
    <article class="card card--featured">
        <a href="odporucame" class="display-contents">
            <figure class="card__cover">
                <img src="images/homepage_ine.jpg" alt="obrazok presova" height="500px">
            </figure>
            <div class="card__content">
                <div class="card__header">
                    <h3 class="card__title">Iné pobyty</h3>
                    <div class="card__meta">
                        <span class="card__authors">
                            Nitra
                        </span>
                        <span class="card__authors">
                            CHKO Brdy
                        </span>
                        <span class="card__authors">
                            Malá Haná
                        </span>
                        <span class="card__date">
                            Komárno
                        </span>
                    </div>
                </div>
            </div>
        </a>
    </article>
{{- end }}